{% load static %}
<html>
    <head>
        <title>ChatApp</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css_files/chat_styles.css' %}"/>
    </head>
    <body>
        <h1 style="text-align: center;">ChatApp</h1>
        <div class="chat">
            <div class="user_list">
                <div class="user">
                    <h3 style="text-align: center;">Username</h3>
                </div>
                <h1>list</h1>
            </div>
            <div class="chat_page">
                
            </div>
        </div>
    </body>
</html>