{% load static %}
<html>
    <head>
        <title>Register Page</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css_files/loginStyles.css' %}">
    </head>
    <body>
        <div class="registerForm">
            <h2 class="header">Sign Up</h2>
            <h2 class="header">Create your chatApp Account </h2>
            <div>
                <img id="imageIcon" src="{% static 'images/2.png' %}"/>
            </div>
            <div class="fields">
                <form action="" method="POST">{% csrf_token %}
                    <input id="first_name" type="text" name="first_name" placeholder="First Name" required>
                    <input id="last_name" type="text" name="last_name" placeholder="Last Name" required><br>
                    <input id="email_id" type="text" name="email_id" placeholder="Email" required><br>
                    <input id="password" type="password" name="password" placeholder="Password" required>
                    <input id="confirm_password" type="password" name="confirm_password" placeholder="Confirm" required><br>
                    <input id="REGISTER" type="submit" value="REGISTER">
                </form>
                <h3 id="chatApp">Welcome to chatApp</h3>
                <div class="account">
                    <h4 class="loginAccount">I have an account <a href="{% url 'login' %}">Login Now</a></h4>
                </div>
            </div>
        </div>
    </body>
</html>