{% load static %}
<html>
    <head>
        <title>Reset Password</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css_files/loginStyles.css' %}">
    </head>
    <body>
        <div class="registerForm">
            <div>
                <form action="" method="POST">{% csrf_token %}
                    <input id="login_password" type="password" name="password" placeholder="Password" required><br>
                    <input id="login_email_id" type="text" name="confirm_password" placeholder="Confir Password" required><br>
                    <input id="LOGIN" type="submit" value="ENTER">
                </form>
            </div>
        </div>
    </body>
</html>